#join{ 

    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". join .";
    }

    @include xl{
        grid-template-columns: auto 1000px auto; 
    }
   
    ul{
        display: grid;
        gap: 16px; 

        @include md{
            grid-template-columns: 50% auto;
            gap: 24px;
            grid-area: join;
        }

        

        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". join-content .";
            background-color: $night;
            color: $white;
           
            div{
                grid-area: join-content; 

               
            }
        }
    }
} 