#studio {
    font-size: rem-calc(18);
    font-weight: 300;
    margin: 24px 0;



    @include md {
        display: grid;
        margin: 32px 0;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". studio .";
    }

    @include xl {
        margin: 64px 0;
        grid-template-columns: auto 1200px auto;
    }

    >div {

    
        @include md {
            grid-area: studio;
        }

        h1{
            font-size: rem-calc(22);
            font-variation-settings: "wght" 300; 
            padding: 0px 16px 24px;

        }
       
        ul {


            @include md {
                display: grid;
                // grid-template-columns: repeat (4 1fr); 
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    "studio1 studio1 studio2 studio2"
                    "studio3 studio3 studio4 studio4"
                    ". studio5 studio5 .";
                gap: 16px
            }

            @include lg {

                grid-template-columns: repeat(6, 1fr);
                grid-template-areas:
                    "studio1 studio1 studio2 studio2 studio3 studio3"
                    ". studio4 studio4 studio5 studio5 .";
            }

            li {
                background-color: $brightteal;
                color: $night;
                img{
                    width: 100%;
                }


                section {
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". studio-content .";
                    padding: 16px 0;


                    >div {
                        grid-area: studio-content;

                       button{
                          margin: 24px; 
                       }
                    }

                }
            }

            #studio1 {
                @include md {
                    grid-area: studio1;
                }

            }

            #studio2 {
                @include md {
                    grid-area: studio2;
                }

            }

            #studio3 {
                @include md {
                    grid-area: studio3;
                }

            }

            #studio4 {
                @include md {
                    grid-area: studio4;
                }

            }

            #studio5 {
                @include md {
                    grid-area: studio5;
                }

            }
        }
    }
}