footer{
    background-color: $night;
    color: $dullteal;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    padding: 24px 0;
    
    @include md{
        padding: 32px 0;
    }
    @include xl{
        grid-template-columns: auto 1200px auto;
        padding: 64px 0;
    }

    >div{
        
        grid-area: footer;

        
            h1{
                font-size: rem-calc(23);
                font-weight: 400;

                @include md{
                 font-size: rem-calc(30); 
                }

                @include lg{
                 font-size: rem-calc(32); 
                }
                    
            

        }
        
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "come information"
            "come follow-us";
        }

        @include lg{ 
            grid-template-columns: 60% auto;
            grid-template-areas: 
            "come information"
            "come follow-us";
        }

        section{

            ul{

                li{
                    display: flex;
                    margin-bottom: 24px;
                    

                    div{
                        display: flex;
                        align-items: center;
                    }

                    a:link, a:visited{
                        color: $brightteal;

                        &:hover, &:active{
                            color:white;
                        }
                    }
                }
            }
        }

        
            #come{
                @include md{
                    grid-area: come;
                }
            }
    
            #information{
                @include md{
                    grid-area: information;
    
                }

                form{
                    input{
                        background-color: $white;
                        border: none;
                        padding: 16px 2%;
                        width: 50%;
                        margin-bottom: 20px;
                    }
                }
            }

            #follow-us{
                @include md{
                    grid-area: follow-us; 
                }

                ul{
                    display:flex;
                    margin-top: 16px;
                    li{
                        margin: 0 16px;

                        @include md{
                            margin: 0 8px;
                        }
                    }
                }
            }


        
    }
} 