footer {
    background-color: $night;
    color: $dullteal;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    

    @include xl{
        grid-template-columns: auto 1200px auto 
    }

    >div{
        grid-area: footer;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "come information"
            "come follow-us";
        }

        @include lg{ 
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "come follow-us";
        }

        li{  

            #come{
                @include md{
                    grid-area: come;
                }
            }
    
            #information{
                @include md{
                    grid-area: information;
                }
            }

            #follow-us{
                @include md{
                    grid-area: follow-us; 
                }
            }

        }
        
    }
} 